@font-face{
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'SangBleuKingdom';
    src: url('../fonts/SangBleuKingdom-Regular-WebXL.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'SangBleuKingdom';
    src: url('../fonts/SangBleuKingdom-Medium-WebXL.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}