@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.course {
    @include mixins.flexBox(start, start);
    flex-direction: column;
    padding: map-get(variables.$padding, "padding-s") map-get(variables.$padding, "padding-m");
    border-left: 0.025em solid map-get(variables.$colors, "magenta");
    gap: 2em;

    &__info {
        font-size: 18px;
    }

    &__wrapper {
        @include mixins.flexBox(center, start);
        gap: 2em;
    }

    &__details {
        @include mixins.flexBox(start, start);
        flex-direction: column;
        gap: 2em;

        &--career {
            @include mixins.flexBox(start, start);
            flex-direction: column;
            gap: 0.5em;

            &-head {
                font-weight: 500;

            }

            &-list {
                padding: 0 map-get(variables.$padding, "padding-l");
                list-style: circle;
            }

            &-item {

                &::marker {
                    color: map-get(variables.$colors, "magenta");

                }
            }
        }

        &--item {
            @include mixins.flexBox(start, center);
            // gap: 1em;

            &-text {
                text-align: start;
                min-width: 4em;
            }
        }
    }

    &__image {
        width: 20em;
        height: 10em;
        object-fit: cover;
        border: solid 0.01em white;
    }
}