@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.course {
    padding: map-get(variables.$padding, "padding-s") map-get(variables.$padding, "padding-m");
    border-left: 0.025em solid map-get(variables.$colors, "magenta");
    display: grid;
    gap: 1em;

    &__name {
        font-size: 2em;
        font-weight: 300;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &__text {
        font-size: 18px;
        color: gray
    }


    &__details {
        @include mixins.flexBox(start, start);
        align-items: end;
        flex-direction: row;
        padding: 0.5em;
        gap: 2em;

        &--career {
            @include mixins.flexBox(start, start);
            flex-direction: column;
            gap: 0.5em;

            &-head {
                font-weight: 300;
                color: #FF00E3;
            }

            &-list {
                padding: 0 map-get(variables.$padding, "padding-l");
                list-style: circle;
            }

            &-item {

                &::marker {
                    color: map-get(variables.$colors, "magenta");

                }
            }
        }

        &--item {
            @include mixins.flexBox(start, center);
            // gap: 1em;

            &-text {
                text-align: start;
                min-width: 4em;
            }
        }
    }

    &__image {
        width: 100%;
        height: 14em;
        object-fit: cover;
        border: solid 0.01em white;
    }

    &__button {
        width: 100%;
        display: block;
        text-align: center;
        // height: 2.5em;
        font-size: 1em;
        background-color: #FF00E3;
        border: 0.075em solid white;
        border-radius: 0.2rem;
        color: white;
        font-weight: 600;
        padding: 0.5em;
        text-decoration: none;


        &__highlighted {
            color: black;
        }
    }

    &__button:hover {
        background-color: #E600CC;
    }
}