@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.courses{
    @include mixins.flexBox(start, start);
    gap: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    // height: 70vh;

    &__item{
        width: 49%;
        @include mixins.flexBox(start, center);
        flex-direction: column;
        gap: 0.75em;

        &--dropdown{
            @include mixins.selectBox(100%, 1.2em, map-get(variables.$colors, "white"));
            
            &-active{
                border: 0.125em solid map-get(variables.$colors, "magenta");
                color: map-get(variables.$colors, "magenta");
            }
        }
    }
}

.break{
    flex-basis: 100%;
}