.activities__timeline{
  position: relative;
  margin: 0 auto;
  margin-inline-start: 2em;
  margin-block-start: 1em;
}

.activities_timelineData{
  margin-inline-start: 1.5em;
}

.activity{
  margin-inline-start: 5em;
  margin-block-start: 4em;
}

// .courses__item--dropdown , .courses__item--dropdown-active{
//   max-width: 15em;
// }
