.activities__timeline{
  position: relative;
  margin: 0 auto;
  margin-inline-start: 2em;
  margin-block-start: 1em;
}

.activities__timeline::after{
  content: '';
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: aqua;
  transform: translateX(-50%);
}

.activities__timeline::before{
  content: '';
  position: absolute;
  width: 0.25em;
  height: 20em;
  background-color: white;
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

.activity{
  margin-inline-start: 5em;
  margin-block-start: 4em;
}

