@use "../abstracts/variables";
@use "../abstracts/mixins";

.button{
    border: none;
    background: map-get(variables.$colors, "magenta");
    padding: map-get(variables.$padding, "padding-md") map-get(variables.$padding, "padding-xl");
    color: map-get(variables.$colors, "white");
    border-radius: map-get(variables.$borders, "border-radius-s");
    font-weight: 600;
    font-size: 100%;
    font-family: inherit;

    &:disabled{
        background: rgba(map-get(variables.$colors, "magenta"), 0.2);
        color: rgba(map-get(variables.$colors, "white"), 0.2);
    }

    &:hover{
        background: transparent;
        border: 2px solid map-get(variables.$colors, "magenta");
        color: map-get(variables.$colors, "magenta");

        .button__arrow {
            transform: translateX(0.25em);
        }
    }

    &:focus{
        outline: none;
    }

    &__logout{
        background: map-get(variables.$colors, "red");

        &:disabled{
        background: rgba(map-get(variables.$colors, "red"), 0.2);

            &:hover{
                cursor: not-allowed;
                background: rgba(map-get(variables.$colors, "red"), 0.2);
            }
        }
        
        &:hover{
            background: darken(map-get(variables.$colors, "red"), 2%);
        }
    }
}