@use "../abstracts/variables";
@use "../abstracts/mixins";

.form{
    @include mixins.flexBox(center, center);
    flex-direction: column;
    gap: 1em;

    &__title{
        font-size: 2em;
        font-family: map-get(variables.$baseVars, "secondary-font");
        text-align: start;

        &::after{
            content: attr(data-end);
            color: map-get(variables.$colors, "magenta");
        }
    }

    // &__wrapper{
    //     // width: 20em;
    // }

    // &__input
}