@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.stories{
    @include mixins.flexBox(start, start);
    flex-direction: column;
    gap: 1em;
    width: 80em;
    
    &__students{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        width: 100%;
    }
}