@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.stories{
    @include mixins.flexBox(start, start);
    flex-direction: column;
    gap: 1em;
    
    &__students{
        @include mixins.flexBox(space-between, start);
        flex-wrap: wrap;
        // gap: 1em;
    }
}