@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.student{
    border: 0.025em solid rgba(map-get(variables.$colors, "white"), 0.2);
    @include mixins.flexBox(start, start);
    gap: 1em;
    // width: 48%;
    height: 8em;
    // width: 100%;

    &__figure{
        width: 8em;
        height: 100%;

        &--image{
            width: 8em;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrapper{
        padding: map-get(variables.$padding, "padding-m");
        @include mixins.flexBox(space-between, start);
        flex-direction: column;
        height: 100%;
    }

    &__link{
        color: map-get(variables.$colors, "magenta");
        text-decoration: none;

        &:hover{
            color: lighten(map-get(variables.$colors, "magenta"), 20%);
        }
    }
}