@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.settings{
    width: 60%;
    @include mixins.flexBox(center, center);
    flex-direction: column;
    gap: 1.5em;

    &__profile{
        width: 100%;
        @include mixins.flexBox(space-between, center);

        &--form{
            @include mixins.flexBox(center, center);
        }
    }

    &__form{
        border: 0.02em solid rgba(map-get(variables.$colors, "white"), 0.2);
        border-radius: map-get(variables.$borders, "border-radius-s");
        padding: map-get(variables.$padding, "padding-l");
        @include mixins.flexBox(center, center);
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    &__wrapper{
        @include mixins.flexBox(center, center);
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    &__input{
        @include mixins.flexBox(space-between, center);
        width: 100%;
    }

    &__label{

        &--blurred{
            color: rgba(map-get(variables.$colors, "white"), 0.2);
        }
    }
}