//1200 px
@media screen and (max-width: 75em) {
    .courses__item {
        width: 100%;
    }
}

// 911px
@media screen and (max-width: 57em) {
    .courses {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .course__wrapper {
        display: flex;
        flex-direction: column;
    }

    .poiBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

//830 px
@media screen and (max-width: 51.875em) {
    .stories {
        &__students {
            flex-direction: column;
            gap: 1em;
        }
    }

    .student {
        width: 100%;
    }

    .dropdown {
        width: 100%;
    }
}

@media screen and (max-width: 50em) {
    .headlink {
        width: 100%;
    }

    .dashboard {
        width: 100%;
    }

    .settings {
        width: 100%;
    }
}

// 750 px — navigatie gaat naar column
@media screen and (max-width: 46.75em) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        padding: 0.75em 1em;
    }

    .header__navigation {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        text-align: center;
    }

    .activity {
        grid-template: 8em 1fr 1fr / 1fr;
        margin-block-start: 2em;
        margin-inline: 2em;
    }

    .activity__img {
        grid-row: 1;
        width: auto;
        height: 100%;
    }

    .activity__text {
        grid-row: 2;
        grid-column: auto;
    }

    .poiBox {
        grid-template-columns: 1fr;
    }
}

// 700 px
@media screen and (max-width: 43.75em) {}

//678 px
@media screen and (max-width: 42.375em) {
    .course__wrapper {
        flex-direction: column-reverse;
    }

    .activity__button {
        flex-wrap: wrap;
        max-width: 80%;
        height: fit-content;
        gap: 0.5em;
        justify-content: center;
    }

}

//650px
@media screen and (max-width: 40.625em) {
    .course__details {
        flex-direction: column;
        align-items: start;
    }

    .activity {
        margin-inline: 1em;
    }
}

//528 px
@media screen and (max-width: 33em) {
    .courses {
        grid-template-columns: 1fr 1fr;
    }
}

//480 px
@media screen and (max-width: 30em) {
    .student {
        &__image {
            aspect-ratio: 2.8/2.2;
        }

        .course__button {
            height: 3em;
        }
    }

    .activity__button {
        max-width: 100%;
    }
}

//440px
@media screen and (max-width: 27.5em) {
    .dashboard {
        font-size: 80%;
    }
}

//360 px
@media screen and (max-width: 22.5em) {
    .courses {
        grid-template-columns: 1fr;
    }

    .courses__item {
        height: 5em;
    }

    .headlink {
        font-size: 90%;
    }

    .dashboard {
        &__header {
            flex-direction: column;
            gap: 1em;
        }

        &__options {
            justify-content: center;
            font-size: 80%;
        }
    }
}