@mixin flexBox($justifyContent, $alignItems){
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin changeColor($color){
    background: $color;
    color: red;
} // voorbeeld van de mixin met parameters

// hier doe je styling code die vaak samen wordt gebruikt, zoals bijvoorbeeld bij de flexBox mixin